@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-mine-shaft-950;
  }
  
  @layer utilities {
    .fade-in {
      animation: fadeIn 0.6s ease-out forwards;
      opacity: 0;
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  
  @keyframes slide-left {
    from {
      opacity: 0;
      transform: translateX(80px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-slide-left {
    animation: slide-left 0.4s ease-out;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  